[neo4j]
uri = neo4j+s://xxxxxxxx.databases.neo4j.io
username = neo4j
password = your-password

[mongodb]
uri = mongodb+srv://name:password@your-cluster-address
database = lightrag

[redis]
uri=redis://localhost:6379/1
EDIS_PASSWORD=sagara01
ENABLE_DESCRIPTION_ENRICHMENT=false
ENABLE_GEO_ENRICHMENT=false
ENABLE_COMMUNITY_DETECTION=false
ENTITY_LINK_BASE_URL=https://example.com/entity/
[qdrant]
uri = http://localhost:16333

[postgres]
host = localhost
port = 5432
user = your_username
password = your_password
database = your_database
workspace = default  # 可选,默认为default
max_connections = 12

# MULTI_HOP_MIN_STRENGTH=0.5
# LATENT_RELATION_MIN_STRENGTH=0.5
